{{# each contents }}
        <div class="thumbnail container">
            <div class="caption">
                <div>
                    <hr>
                    <br>
                </div>
                    <h3>{{ this.name }}</h3>
                    <small> {{ this.email}} </small>
                    <p class="description">{{ this.comments }}</p>
                </div>
                <div>
                    <hr>
                    <br>
                </div>
        </div>
{{/each}}